<div class="presentation-border"></div>
<div class="row">
    <div class="col-md-1 presentation-arrow">
      {{#if hasPrevSlide}}
          <a {{action 'setSlide' 'prev'}}><h1 class="glyphicon glyphicon-chevron-left"></h1></a>
      {{/if}}
    </div>

    <div class="col-md-10 presentation-content">
      {{partial currentSlide}}
    </div>

    <div class="col-md-1 presentation-arrow">
      {{#if hasNextSlide}}
          <a {{action 'setSlide' 'next'}}><h1 class="glyphicon glyphicon-chevron-right"></h1></a>
      {{/if}}
    </div>
</div>
{{#if currentSlideFooter}}
  <div class="presentation-footer">
    {{partial currentSlideFooter}}
    <div class="clearfix"></div>
  </div>
{{/if}}
<div class="presentation-border"></div>
