<div class="col-md-1 wizard-slider-chevron">
  {{#link-to slideRoute potential}}<h1 class="pull-left glyphicon glyphicon-chevron-left"></h1>{{/link-to}}
</div>
<div class="col-md-10">{{yield}}</div>
<div class="col-md-1 wizard-slider-chevron">
  {{#link-to slideRoute potential}}<h1 class="pull-right glyphicon glyphicon-chevron-right"></h1>{{/link-to}}
</div>