<div class="col-md-6">
    <table class="table no-border">
        <tbody>
        <tr>
            <td><strong>Low</strong></td>
            <td>${{proposal.potential.utilityUsage.lowElectricityBill}}</td>
        </tr>
        <tr>
            <td><strong>Average</strong></td>
            <td>${{proposal.potential.utilityUsage.avgElectricityBill}}</td>
        </tr>
        <tr>
            <td><strong>High</strong></td>
            <td>${{proposal.potential.utilityUsage.highElectricityBill}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <table class="table">
        <tbody>
          <tr>
              <td><strong>Annual Electric Bill</strong></td>
              <td>${{proposal.potential.utilityUsage.sumElectricityBill}}</td>
          </tr>
          <tr>
              <td><strong>Annual Inflation Rate</strong></td>
              <td>--</td>
          </tr>
          <tr>
              <td><strong>Electric Bill Over 25 Years</strong></td>
              <td>--</td>
          </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>