<h1>Current Electricity Use</h1>
{{
charts/barchart-potential
style=barChartStyle
chart-id="barchart-potfffff"
firstCalendar=proposal.potential.utilityUsage.usageCalendar
secondCalendar=proposal.potential.utilityUsage.billCalendar
}}