<h1>Current Electricity Use</h1>
{{
charts/barchart-potential
style="width: 800px; height: 400px;"
chart-id="barchart-potfffff"
firstCalendar=proposal.potential.utilityUsage.usageCalendar
secondCalendar=proposal.potential.utilityUsage.billCalendar
}}