{{#each coloredItem in coloredItemsArray}}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: {{coloredItem.rgbColorCss}};">
              {{coloredItem.marketItem.product.name}}
            </div>
            <div class="panel-body">
                <span>Avg. Monthly Savings: {{coloredItem.savingsCalculation.avgMonthlyKwhSavings}} kwh</span>
                <br />
                <span>Annal Savings: {{coloredItem.savingsCalculation.annualKwhSavings}} kwh</span>
            </div>
        </div>
    </div>
{{/each}}

