<h1>
    <center>
        Energy Production
    </center>
</h1>
{{charts/barchart-pvwatts-monthly-production pvwatts=proposal.pvwatts style="width: 800px; height: 400px"}}
<hr />
{{pvwatts-result pvwatts=proposal.pvwatts}}