<div role="tabpanel">
    <div class="" id="top-fix-container">
        <div class="row">
            <div class="container">
              {{view "proposal/breadcrumb"}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                  {{#wizard-slide nextRoute=nextRoute prevRoute=prevRoute potential=model}}
                    {{yield}}
                  {{/wizard-slide}}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
              {{ view "proposal/chart" }}
              {{!-- charts/barchart-potential chart-id="adqwdqwd" --}}

            </div>
        </div>

    </div>
</div>
