<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'index'}}Home{{/link-to}}</li>
                <li>{{#link-to 'about'}}About{{/link-to}}</li>
                <li>{{#link-to 'get-started'}}Get Started{{/link-to}}</li>
                <li>{{#link-to 'proposal'}}Proposal Lookup{{/link-to}}</li>
                <li>{{#link-to 'presentation'}}Presentation{{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{#link-to 'login'}}Login{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>