body {
  padding-top: 20px;
  padding-bottom: 20px;
}

li a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 20px;
}

.main-container {
  min-height: 550px;
}

.zoho-container {
  margin-top: 20px;
}
