@import "arrow.nav.css";
@import "smart-admin.css";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

li a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 20px;
}

.main-container {
  min-height: 550px;
}

.zoho-container {
  margin-top: 20px;
}

table.dataTable thead .sorting_asc:after {
  content: none;
}
table.dataTable thead .sorting_desc:after {
  content: none;
}
table.dataTable thead .sorting:after {
  content: none;
}

.nav-wizard {
  margin-bottom:20px;
}

.footer {
  margin-top:20px;
}

.hidden-inputs {
  display:none;
}

.navbar-top-bg {
  background-color: #fff;
}

.breadcrumb-padding {
  margin-top:20px;
}

.bold{
  font-weight:bold;
  color: #428bca;
}

.red-highlight {
  color: red;
  font-weight:bold;
}

.paginate_button {
  padding: 0 !important;
}

.paginate_button:hover {
  border: 0 !important;
}
