<div class="step-container">
  {{ view "proposal/view" }}
</div>

<div class="step-container">
  {{ view "proposal/energy-efficiency" }}
</div>

<div class="step-container">
  {{ view "proposal/project-design" }}
</div>

<div class="step-container">
  {{#link-to 'proposal.loading' type="button" class="btn btn-primary"}}Generate PDF{{/link-to}}

    <a href="#" type="button" class="btn btn-danger">Save</a>
</div>
{{outlet}}
