<ul class="nav nav-pills pull-left">
    <li role="presentation" class="active">{{#link-to 'crm.zoho' }}Home{{/link-to}}</li>
    <li role="presentation">{{#link-to 'crm.zoho.potentials'}}Potentials{{/link-to}}</li>
</ul>
<div class="clearfix"></div>
<div class="container zoho-container">
    <div class="row margin-top-20">
        {{outlet}}
    </div>
</div>
