<div class="row">
    <div class="col-md-12">
        <h4>Selected proposal: {{proposal.id}}</h4>
        <div class="step-container">
            {{proposal/preview-bar proposal=proposal}}
        </div>
    </div>

</div>
