<div class="row">
    <div class="col-md-12">
        <h4>Selected proposal: {{proposal.id}}</h4>
        <div class="step-container">
          {{#widget-collspandable title="Presentation" widget-id="action-buttons-widget"}}
            {{proposal/action-buttons update="saveProposalToApi" proposal=proposal}}
          {{/widget-collspandable}}
        </div>
    </div>

</div>
