{{#link-to 'proposal.loading' type="button" class="btn btn-primary"}}Generate PDF{{/link-to}}

<button href="#" data-toggle="modal" data-target=".bs-example-modal-lg" type="button" class="btn btn-danger">View
    Presentation
</button>

<div id="presentation-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
              {{presentation-slider proposal=proposal}}
        </div>
    </div>
</div>

{{outlet "modal"}}