{{#each item in proposal.items}}
    <div class="form-group">
        <label>
          {{input type="checkbox" checked=item.selected}}
          {{item.marketItem.product.name}}
        </label>
    </div>
    {{#if item.selected}}
        <div class="col-md-4">
          {{item-form item=item}}
        </div>
    {{/if}}
    <div class="clearfix"></div>
{{/each}}
