<form>
    <div class="form-group">
      <label for="energy-efficiency-value">Energy Efficiency Value</label>
      {{input type="text" class="form-control" id="energy-efficiency-value" value=energy-efficiency-value placeholder="Energy Efficiency Value"}}
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Another field about Energy</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Another field about Energy">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Killowat/hour</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Killowat/hour">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Another field about Energy</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Another field about Energy">
    </div>
</form>