<div>
    <div class="form-group">
        <label for="syste-size-input">System size</label>
        <input type="text" class="form-control" id="system-size-input" placeholder="System size">
    </div>
    <div class="form-group">
        <label for="system-production-input">System production</label>
        <input type="text" class="form-control" id="system-production-input" placeholder="System production">
    </div>
    <div class="form-group">
        <label for="price-per-watt">Price per watt</label>
        <input type="text" class="form-control" id="price-per-watt" placeholder="Price per watt">
    </div>
</div>
