<div class="row">
    <div class="col-md-6">
        <form id="project-design-form" novalidate="novalidate">
            <div class="form-group">
                <label for="syste-size-input">Electric Utility</label>
                <input id="system-size-input" class="ember-view ember-text-field form-control input-sm" placeholder="Electric Utility"
                       name="system-size-input" type="text">
            </div>
            <div class="form-group">
                <label for="system-production-input">Rate Schedule</label>
                <input id="system-production-input" class="ember-view ember-text-field form-control input-sm"
                       placeholder="Rate Schedule" name="system-production-input" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Annual KWH</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Annual KWH"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">Jan Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Jan Usage"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">Feb Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Feb Usage"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">Mar Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Mar Usage"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">Apr Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Apr Usage"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">May Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="May Usage"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">Jun Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Jun Usage"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">Jul Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Jul Usage"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">Aug Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Aug Usage"
                       name="price-per-watt" type="text">
            </div>
              <div class="form-group">
                <label for="price-per-watt">Sep Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Sep Usage"
                       name="price-per-watt" type="text">
            </div>
              <div class="form-group">
                <label for="price-per-watt">Oct Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Oct Usage"
                       name="price-per-watt" type="text">
            </div>
             <div class="form-group">
                <label for="price-per-watt">Nov Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Nov Usage"
                       name="price-per-watt" type="text">
            </div>
              <div class="form-group">
                <label for="price-per-watt">Dec Usage</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Dec Usage"
                       name="price-per-watt" type="text">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form id="project-design-form" novalidate="novalidate">
            <div class="form-group">
                <label for="syste-size-input">Low Electric Bill</label>
                <input id="system-size-input" class="ember-view ember-text-field form-control input-sm" placeholder="Low Electric Bill"
                       name="system-size-input" type="text">
            </div>
            <div class="form-group">
                <label for="system-production-input">High Electric Bill</label>
                <input id="system-production-input" class="ember-view ember-text-field form-control input-sm"
                       placeholder="High Electric Bill" name="system-production-input" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Average Electric Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Average Electric Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Jan Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Jan Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Feb Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Feb Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Mar Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Mar Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Apr Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Apr Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">May Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="May Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Jun Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Jun Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Jul Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Jul Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Aug Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Aug Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Sep Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Sep Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Oct Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Oct Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Nov Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Nov Bill"
                       name="price-per-watt" type="text">
            </div>
            <div class="form-group">
                <label for="price-per-watt">Dec Bill</label>
                <input id="price-per-watt" class="ember-view ember-text-field form-control input-sm" placeholder="Dec Bill"
                       name="price-per-watt" type="text">
            </div>
        </form>
    </div>

</div>