<ul class="nav nav-pills nav-wizard">
    <li class="active"><a href="#" data-toggle="tab">Customer Lookup</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab">Energy Efficiency</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab">Project Design</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab">Proposal Review</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab">Company Presentation</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab">Solution Presentation</a></li>
</ul>