<ul class="nav nav-pills nav-wizard" id="fixed-breadcrumb" role="tablist">
    <li class="active"><a href="#" data-toggle="tab" data-where="#customer-lookup">Customer Lookup</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" >Energy Efficiency</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab" data-where="#project-wrapper">Project Design</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab" data-where="#proposal-wrapper">Proposal Review</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab" data-where="#company-wrapper">Company Presentation</a>

        <div class="nav-arrow"></div>
    </li>
    <li>
        <div class="nav-wedge"></div>
        <a href="#" data-toggle="tab" data-where="#presentation-wrapper">Solution Presentation</a></li>
</ul>