{{ view "layouts/header" }}

<div class="container main-container">


  {{outlet}}


</div>
<div class="container">
    <footer class="footer">
        <p>© Catalyst Group 2015</p>
    </footer>
</div>

