<div class="row">
    <div class="col-md-3 col-xs-12">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">{{#link-to 'setup.market-profile'}}Market Profile{{/link-to}}</li>
            <li>{{#link-to 'setup.products-pricing'}}Products and Pricing{{/link-to}}</li>
            <li>{{#link-to 'setup.products-services'}}Products & Services{{/link-to}}</li>
            <li>{{#link-to 'setup.pv-watts'}}PV Watts{{/link-to}}</li>
            <li>{{#link-to 'setup.company-info'}}Compnay Info{{/link-to}}</li>
            <li>{{#link-to 'setup.contract'}}Contract{{/link-to}}</li>
        </ul>

    </div>
    <div class="col-md-9 col-xs-12">
        {{outlet}}
    </div>
</div>