<div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-group">
              {{input class="form-control" id="google-address" value=model.address}}
            </div>
        </div>
    </div>

    <br/>

    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Google Maps</div>
                <div class="panel-body">
                    <div class="google-map">
                        <div class="map-canvas" id="map-canvas"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>