{{#get-started-slider action="setSlide" prevSlide="address" nextSlide="solar-production" slideName="energy-efficiency"}}
  <h4>Energy Efficiency</h4>
  {{proposal/energy-efficiency energy=proposal.energy }}
{{/get-started-slider}}