{{#get-started-slider action="setSlide" prevSlide="financing" slideName="solution-presentation"}}
  <h1>Solution presentation</h1>
  <button class="btn btn-danger" {{action "saveProposal"}}>Save proposal</button>
{{/get-started-slider}}